*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*
.friuts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.friuts .aside{
    max-width: 300px;
    padding: 40px 20px;
}
.friuts .aside img{
    width: 250px;
    height: 300px;
}

*/


.offer-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.offer-col .effective{
    width: 400px;
}






